html, body { width: 100% }
.content {
 width: 40em;
 margin:3em auto;
 font-family: "helvetica nueue", helvetica, sans-serf;
 line-height:140%;
}

a { text-decoration: none }

li > ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

li > ul > li {
  padding-left: 1rem;
  text-indent: -1rem;
}

li > ul > li:before {
  content: "➥";
  content: "➟";
  padding-right: 0.4rem;
  opacity: 0.4;
}
